
@{
    ViewBag.Title = "Accountant Home Page";
}

<p>
    <h2>@ViewBag.Title</h2>
</p>
@using (Html.BeginForm("Index", "Accountant", FormMethod.Post, new { id = "submitForm" }))
{   <hr />
    <p>
        <button id="ButtonUsersView" name="Button" style="width:400px" value="List of Users">List of Users </button>
    </p>
    <p>
        <button id="TotalCostsByEngineerReport" name="Button" style="width:400px" value="Total Costs By Engineer Report">Total Costs By Engineer Report </button>
    </p>
    <p>
        <button id="AverageCostsByEngineerReport" name="Button" style="width:400px" value="Average Costs By Engineer Report">Average Costs By Engineer Report </button>
    </p>
    <p>
        <button id="CostsByDistrictReport" name="Button" style="width:400px" value="Costs By District Report">Costs By District Report </button>
    </p>
    <p>
        <button id="MonthlyCostsForDistrictReport" name="Button" style="width:400px" value="Monthly Costs For District Report">Monthly Costs For District Report </button>
    </p>
    <p>
        &nbsp;
    </p>
}



