
@{
    ViewBag.Title = "Manager Home Page";
    
}
<p>
    <h2>@ViewBag.Title</h2>
</p>
@using (Html.BeginForm("Index", "Manager", FormMethod.Post, new { id = "submitForm" }))
{<hr />
    <p>
        <button id="ButtonCreateNewClient" name="Button" style="width:400px" value="List of Intervention to approve or cancel in your district">List of Intervention to approve or cancel in your district</button>
    </p>
    <p>
        <button id="ButtonCreateIntervention" name="Button" style="width:400px" value="List of associated Interevntions">List of associated Interevntions</button>
    </p>
    
    
}

