@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Assignment 2 - ENET Intervention Monitoring System</h2>
    <p></p>
    <p>By</p>
    <p>Yamin Bin Islam - 99174005</p>
    <p>Divas Malik - 99166148 </p>
    <p>Qing Yang - 11810797</p>
    <p>Yuxiang Zhang - 12107645</p>
</div>